
.room-main-container {
    display: flex;
    height: 90vh;
}
.Left-container {
    margin-left: 10px;
    flex: 1;
    position: relative;
}
.Right-container {
    display: flex;
    flex: 5;
    position: relative;
    margin-left: 10px;
    
}